<%= f.inputs class: "well form-inline" do %>
  <%= f.input :course, label: false %>

  <div class="input-group pull-right">
    <%= f.input :percentage, label: false %>
    <div class="input-group-addon">%</div>
  </div>
<% end %>
